@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@100;200;300;400;500;600;700&family=Pirata+One&display=swap');
@import "tailwindcss";

:root {
  height: 100vh;
  width: 100vw;

  box-sizing: border-box;
  margin: 0;
  padding: 0;  

  font-family: "Skranji", system-ui, -apple-system, BlinkMacSystemFont,'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
  background: url(./assets/images/site_bg.webp) no-repeat;
  background-size: cover;
  @apply bg-position-[center_top] md:bg-position-[center_bottom] lg:bg-position-[center];
  backdrop-filter: brightness(0.7) contrast(1.1);
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Skranji', display;
}

::-webkit-scrollbar {
  display: none;
}

h1 { 
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  filter: drop-shadow(-0.5px 2px black);
}

p {
  font-size: 0.75rem;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

.text-shadow-scroll {
  filter: drop-shadow(0 -1px 0 rgb(36, 27, 11)) drop-shadow(0 1px 0 rgb(235, 177, 77));
}

.default-keyboard-tile {
  background: transparent url('../src/assets/images/keyboard.webp') no-repeat center;
  background-size: contain;
  color: #b49b6f;
  font-size: 1.25rem;
  @apply md:text-xl lg:text-2xl pt-1;
  text-shadow: 0 -1px 0 rgb(83, 79, 67), 0 1px 0 rgb(255, 255, 255);
}

.default-keyboard-tile2 {
  background: transparent url('../src/assets/images/keyboard.webp') no-repeat center;
  background-size: contain;
  color: rgb(180, 155, 111);
  font-size: 1.25rem;
  @apply md:text-xl lg:text-2xl pt-1;
  text-shadow: 0 -1px 0 rgb(83, 79, 67), 0 1px 0 rgb(255, 255, 255);
}

.default-enter {
  background: transparent url('../src/assets/images/enter_backspace.webp') no-repeat center;
  background-size: contain;
  color: rgb(180, 155, 111);
  font-size: 1.25rem;
  @apply text-xl md:text-2xl pt-1;
  text-shadow: 0 -1px 0 rgb(83, 79, 67), 0 1px 0 rgb(255, 255, 255);
}

.default-backspace {
  background: transparent url('../src/assets/images/enter_backspace.webp') no-repeat center;
  background-size: contain;
  color: rgb(129, 111, 79);
  font-size: 1.25rem;
  @apply text-xl md:text-2xl;
}

.default-tile-text {
  background: transparent url('../src/assets/images/tile.webp') no-repeat center;
  background-size: contain;
  color: rgb(180, 155, 111);
  font-size: 1.25rem;
  @apply text-2xl md:text-3xl;
  text-shadow: 0 -1px 0 #534f43, 0 1px 0 rgb(255, 255, 255);
}

.default-tile-text2 {
  background: transparent url('../src/assets/images/tile.webp') no-repeat center;
  background-size: contain;
  color: rgb(180, 155, 111);
  font-size: 1.25rem;
  @apply text-2xl md:text-3xl;
  text-shadow: 0 -1px 0 rgb(83, 79, 67), 0 1px 0 rgb(255, 255, 255);
}

.correct-tile-text {
  background: transparent url('../src/assets/images/correct.webp') no-repeat center;
  background-size: contain;
  color: #523810;
  font-size: 1.25rem;
  @apply text-2xl md:text-3xl;
  text-shadow: 0 -1px 0 #302a1c, 0 1px 0 rgb(230, 190, 17);
}

.incorrect-tile-text {
  background: transparent url('../src/assets/images/wrong.webp') no-repeat center;
  background-size: contain;
  color: rgb(161, 121, 63);
  font-size: 1.25rem;
  @apply text-2xl md:text-3xl;
  text-shadow: 0 -1px 0 #272217, 0 1px 0 rgb(221, 191, 134);
}

.oop-tile-text {
  background: transparent url('../src/assets/images/oop.webp') no-repeat center;
  background-size: contain;
  color: rgb(83, 63, 28);
  font-size: 1.25rem;
  @apply text-2xl md:text-3xl;
  text-shadow: 0 -1px 0 #241b0b, 0 1px 0 rgb(235, 177, 77);
}

.bg-parchment {
  background: transparent url('../src/assets/images/parchment_16_9.webp') no-repeat center;
  background-size: contain;
  aspect-ratio: 16/9;
  color: rgb(83, 63, 28);
  font-size: 1rem;
  font-weight: 100;
  text-shadow: 0 -1px 0 #241b0b, 0 1px 0 rgb(235, 177, 77);
}

.bg-parchment-9-16 {
  background: transparent url('../src/assets/images/parchment_9_16.webp') no-repeat center;
  background-size: contain;
  aspect-ratio: 9/16;
  color: rgb(83, 63, 28);
  font-size: 1.25rem;
  font-weight: 100;
  text-shadow: 0 -1px 0 #241b0b, 0 1px 0 rgb(235, 177, 77);
}

/* ✅ Pop animation */
@keyframes pop {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.animate-pop {
  animation: pop 100ms ease-in-out;
}

/* Fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 300ms ease-in;
}

/* Shake animation */
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}
.animate-shake {
  animation: shake 600ms;
}

/* Flip animation */
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.animate-flip {
  animation: flip 600ms ease-in;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

