@import "tailwindcss";

#root {
  height: 100%;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
}

h1 {
  @apply font-bold text-2xl;
}

@theme {
  --animate-pop: pop 100ms ease-in-out;

  @keyframes pop {
    from {
      transform: scale(1.1);
      border-color: @apply border-gray-500;
    }
    to {
      transform: scale(1);
      border-color: @apply border-gray-300;
    }
  }
}

@theme {
  --animate-fade-in: fade-in 300ms ease-in;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@theme {
  --animate-shake: shake 600ms;

  @keyframes shake {
    10%,
    90% {
      transform: translateX(-1px);
    }
  
    20%,
    80% {
      transform: translateX(2px);
    }
  
    30%,
    50%,
    70% {
      transform: translateX(-4px);
    }
  
    40%,
    60% {
      transform: translateX(4px);
    }
  }
}
